
<h1>Product <%=@my_product.id%> Details:</h1>
   <p><h3>Description:</h3> <%= @my_product.description%></p>

   <p><h3>Deadline:</h3> <%= @my_product.deadline%></p>

   <a href="/users/<%=@my_product.id%>/get_email">Make a Bid</a>