<ul>
	<h1>Personal Info</h1>
    <li>
    <p>Name:<%= @one_contact_info.name%></p></li>
    <p>Address:<%= @one_contact_info.address%></p>
    <p>Phone:<%= @one_contact_info.phone_number%></p>
    <p>email:<%= @one_contact_info.email%></p>
    <p><a href="/">home</a></p>
</ul>